### Practice On Data Science Foundations Class

#### Functions

In [1]:
def addnum(x,y):
    return x + y
addnum(9,9)

18

In [4]:
# Same function by using three parameters one of them is None Parameter
def addnum(x,y,z=None):
    if z == None:
        return x + y
    else:
        return x + y + z
addnum(9,8)
addnum(6,6,6)

18

In [16]:
# Same Function using optional flag parameter
def addnum(x,y,z = None,flag = False):
    if (flag):
        print(flag)
    if z == None:
        return x + y
    else:
        return x + y + z
addnum(1,6,flag = True)

True

7

In [18]:
# Assign same function to a variable
def addnum(x,y):
    return x + y
s = addnum
s(9,8)

17

#### Dictionaries

In [21]:
details = {'Ambika':'ambika@gmail.com','Sai':'sai@gmail.com','keerthi':'keerthi@gmail.com'}
details['Sai']

'sai@gmail.com'

In [22]:
# Iterate over keys 
for name in details.keys():
    print(details[name])

ambika@gmail.com
sai@gmail.com
keerthi@gmail.com

In [25]:
# Iterate over values
for mail in details.values():
    print(mail)

ambika@gmail.com
sai@gmail.com
keerthi@gmail.com

In [26]:
# Iterate over keys and values
for name,mail in details.items():
    print(name)
    print(mail)

Ambika
ambika@gmail.com
Sai
sai@gmail.com
keerthi
keerthi@gmail.com

In [27]:
# Unpack a Sequence in to different values

name = ('Ambika','Puvvula','ambika@gmail.com')
fname,lname,mail = name

In [28]:
fname

'Ambika'

In [29]:
lname

'Puvvula'

In [30]:
mail

'ambika@gmail.com'

In [31]:
# If unpacking elements does not matches  the number of variables assigned it returns an error
name = ('Ambika','Puvvula','ambika@gmail.com','Vijayawada')
fname,lname,mail = name

ValueError: too many values to unpack (expected 3)

#### Strig Formatting

In [34]:
record = {
'Name':'Ambika',
'Team_Name':'Python',
'Place':'Vijayawada'
}

statement = 'The Person name is {} from {} team and belongs to {}'

print(statement.format(record['Name'],record['Team_Name'],record['Place']))

The Person name is Ambika from Python team and belongs to Vijayawada

### Reading and writing CSV files

In [5]:
import csv
with open('mpg.csv') as csvfile:
    m = list(csv.DictReader(csvfile))
m[:2]

[OrderedDict([('', '1'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'auto(l5)'),
              ('drv', 'f'),
              ('cty', '18'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '2'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'manual(m5)'),
              ('drv', 'f'),
              ('cty', '21'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')])]

In [6]:
len(m)

234

In [8]:
sum(float(a['cty']) for a in m)/len(m)

16.858974358974358

In [9]:
sum(float(a['hwy'])  for a in m)/len(m)

23.44017094017094

In [10]:
cylinders = set(a['cyl'] for a in m)
cylinders

{'4', '5', '6', '8'}

In [29]:
cyllist = []
for c in cylinders:
    cylsum = 0
    cylcount = 0
    for a in m:
        if a['cyl'] == c:
            cylsum += float(a['cty'])
            cylcount += 1
    cyllist.append((c,(cylsum/cylcount)))
cyllist.sort()
cyllist

[('4', 21.012345679012345),
 ('5', 20.5),
 ('6', 16.21518987341772),
 ('8', 12.571428571428571)]

In [22]:
vehicleclass = set(a['class']for a in m)
vehicleclass

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

In [30]:
classlist = []
for v in vehicleclass:
    sumclass = 0
    countclass = 0
    for a in m:
        if a['class'] == v:
            sumclass = sumclass + float(a['hwy'])
            countclass = countclass + 1
    classlist.append((v,(sumclass/countclass)))
classlist.sort()
classlist

[('2seater', 24.8),
 ('compact', 28.29787234042553),
 ('midsize', 27.29268292682927),
 ('minivan', 22.363636363636363),
 ('pickup', 16.87878787878788),
 ('subcompact', 28.142857142857142),
 ('suv', 18.129032258064516)]