In [1]:
import pandas as pd
data = pd.read_csv('Files/data.csv')
data

  Programming language        Designed by  Appeared Extension
0               Python   Guido van Rossum      1991       .py
1                 Java      James Gosling      1995     .java
2                  C++  Bjarne Stroustrup      1983      .cpp

### Python Series

In [2]:
import pandas as pd
pd.Series?

In [3]:
names = ['Ambika','Sai','Buddy']
pd.Series(names)

0    Ambika
1       Sai
2     Buddy
dtype: object

In [4]:
digits = [1,2,3]
pd.Series(digits)

0    1
1    2
2    3
dtype: int64

### Querieng Series

In [5]:
details = {'Ambika':'ambika@gmail.com','Sai':'sai@gmail.com','Jyothi':'jyothi@gmail.com'}
d = pd.Series(details)
d

Ambika    ambika@gmail.com
Sai          sai@gmail.com
Jyothi    jyothi@gmail.com
dtype: object

In [6]:
d.index

Index(['Ambika', 'Sai', 'Jyothi'], dtype='object')

In [9]:
d = pd.Series(['Ambika','Sai','Jyothi'],index =['ambika@gmail.com','sai@gmail.com','jyothi@gmail.com'])
d

ambika@gmail.com    Ambika
sai@gmail.com          Sai
jyothi@gmail.com    Jyothi
dtype: object

In [10]:
details = {'Ambika':'ambika@gmail.com','Sai':'sai@gmail.com','Jyothi':'jyothi@gmail.com'}
d = pd.Series(details)
d.iloc[2]

'jyothi@gmail.com'

In [11]:
d.loc['Sai']

'sai@gmail.com'

In [14]:
numbers = ([100.00,20.35,120.45])
n = pd.Series(numbers)
total = 0
for item in n:
    total = total + item
print(total)

240.8

In [16]:
import numpy as np
total = np.sum(n)
total

240.8

In [18]:
s = pd.Series(np.random.randint(0,10,1000))
s.head()

0    2
1    1
2    2
3    5
4    7
dtype: int32

In [19]:
len(s)

1000